.clr{
	clear: both;
}
a{
	text-decoration: none;
}
body{
	background: url("../images/bg.jpg");
}
#wrapper {
	width: 800px;
	margin: 30px auto;
	padding: 20px;
	font-family: arial;
    background-color: white;
}
#header{
	width: 100%;
}
#menu{
	background: #000;
	margin-top: 2px;
	height: 50px;
	line-height: 50px;
    padding-left: 20px;
}
#menu li{
	float: left;
	background: url(../images/bullet.jpg) no-repeat 0 18px;
	padding-left: 14px;
	margin-right: 31px;
}
#menu h2{
	font-weight: normal;
}
#menu a{
	color: #CEFFFF;
}
#main{
	padding-right: 20px;
}
#sidebar{
	float: left;
	width: 220px;
	background: #EDEDED;
	padding: 27px 20px 35px 20px;
}
#sidebar h2{
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom: 5px;
}
#sidebar h2 a{
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}
#sidebar ul{
	margin-top: 15px;
}
#sidebar li:first-child{
	margin-top: 0;
}
#sidebar li{
	padding-left: 10px;
	background: url("../images/dot.png") no-repeat 0 5px;
	margin-top: 5px;
}
#sidebar a{
	color: black;
	font-size: 13px;
}
#content{
	padding-top: 22px;
	float: right;
	width: 480px;
}
#content h2{
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	text-transform: uppercase;
}
#content ul li{
	padding: 10px 0;
	border-bottom: 1px dotted #CCCCCC;
}
#content h3{
	margin-bottom: 5px;
}
#content a{
	color: #263C78;
	font-size: 15px;
}
#content img{
	float: left;
	width: 122px;
	height: 74px;
	margin-right: 10px;
}
#content p{
	font-size: 13px;
}
#paging{
	//text-align: center;
	margin: 10px 0;
}
#paging li{
	float: left;
	margin: 10px 0;
	border-right: 1px solid black;
	padding-right: 13px;
	margin-right: 13px;
}
#paging a{
	text-decoration: underline;
	padding: 3px;
	color: #263C78;
	font-size: 15px;
}
#footer{
	background: url(../images/footer.jpg);
	text-align: center;
	height: 55px;
	line-height: 55px;
}
#footer p{
	color: white;
}